@font-face {
    font-family: 'zabras';
    src:url('fonts/zabars.ttf')  format('truetype')
}

@font-face {
    font-family: 'area-q-desert';
    src: url('area-q-desert.ttf') format('truetype')   
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/desert2.png');
    background-position: center;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

h1 {
    font-size: 78px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #ab2524;
    position: absolute;
    top: 0%;
}

h3 {
    font-size: 6vh;
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

h4 {
    font-size: 4vh;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

canvas {
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#gameMenu {
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 58%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 940px;
    height: 530px;
    border-radius: 10px;
}

#startButton {
    height: 64px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    background-image: url(./img/bg2.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #F7993E;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 3%;
    z-index: 999;
    cursor: pointer;
    box-shadow: -1px 1px 5px 0px #000;
    transition: all 0.3s ease;
}

#startButton:hover {
    background-image: url('./img/bg4.jpg');
    color: antiquewhite; 
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px);
}

#restartButton {
    height: 64px;
    width: 217px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    background-image: url(./img/bg2.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #F7993E;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 3%;
    z-index: 999;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: -1px 1px 5px 0px #000;
    transition: all 0.3s ease;
    display: none;
}

#restartButton:hover {
    background-image: url('./img/bg4.jpg');
    color: antiquewhite; 
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px);
}

#controlsButton {
    font-size: 45px;
    background-image: url(./img/bg2.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #F7993E;
    border: none;
    border-radius: 10px;
    height: 64px;
    width: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: -1px 1px 5px 0px #000;
    transition: all 0.3s ease;
}

#controlsButton img {
    height: 40px;
}

#controlsButton .default-img {
    display: unset; 
}

#controlsButton .hover-img {
    display: none; 
}

#controlsButton:hover .default-img {
    display: none;
}

#controlsButton:hover .hover-img {
    display: unset; 
}

#controlsButton:hover {
    background-image: url('./img/bg4.jpg');
    color: antiquewhite; 
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px);
}

#storyButton {
    font-size: 45px;
    background-image: url(./img/bg2.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #F7993E;
    border: none;
    border-radius: 10px;
    height: 64px;
    width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: -1px 1px 5px 0px #000;
    transition: all 0.3s ease;
}

#storyButton img {
    height: 40px;
}

#storyButton .default-img {
    display: unset; 
}

#storyButton .hover-img {
    display: none; 
}

#storyButton:hover .default-img {
    display: none; 
}

#storyButton:hover .hover-img {
    display: unset; 
}

#storyButton:hover {
    background-image: url('./img/bg4.jpg');
    color: antiquewhite; 
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px);
}

#controlInfos {
    height: 530px;
    width: 940px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica;
    position: absolute;
    z-index: 9999;
    background-image: url(./img/bg1.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: antiquewhite; 
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px; 
    border-radius: 10px;
    line-height: 1.5;
    cursor: pointer;
    opacity: 0; 
    visibility: hidden; 
    transition: left 0.5s ease, opacity 0.5s ease;
    display: none;
}

#controlInfos h3 {
    font-size: 58px;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#controlInfos span {
    font-size: 38px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px; 
    width: 50%; 
    text-align: center; 
    border: 2px solid rgba(250, 235, 215, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
}

#controlInfos span:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2); 
}

#controlInfos span:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); 
}

#controlInfos span:hover {
    border-color: rgba(255, 255, 255, 0.8); /* Intensiverer Border beim Hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3); /* Intensiverer Schatten beim Hover */
    transform: translateY(-4px); /* Leichtes Anheben beim Hover */
}

#story {
    font-family: 'area-q-desert';
    position: absolute;
    height: 530px;
    width: 940px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-image: url(./img/bg1.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: antiquewhite;
    font-size: 24px;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 20px;
    box-sizing: border-box;
    letter-spacing: 2px; 
    border-radius: 10px;
    line-height: 1.5;
    overflow-y: scroll;
    cursor: pointer;
    opacity: 0; 
    visibility: hidden; 
    transition: left 0.5s ease, opacity 0.5s ease;
    display: none;
}

#story .content {
    display: flex;
    flex-direction: column;
}

.text {
    text-align: center;
    margin-bottom: 10px;
}

.text h3 {
    font-size: 72px;
    margin-block-start: 0;
    margin-block-end: 0.3em;
    font-family: 'zabras';
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.text span {
    font-size: 24px;
    display: block;
    margin-bottom: 1em;
}

#story .images {
    display: flex;
    flex-direction: column;
}

.text-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    border-radius: 8px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3); 
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.about-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-text span:first-of-type {
    font-family: 'zabras';
    font-size: 44px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.text-img:hover {
    /* border-color: rgba(250, 235, 215, 0.8); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px); 
}

.text-img span {
    text-align: center;
    margin-left: 20px;
    font-size: 22px;
}

.text-img img {
    height: 250px ;
    object-fit: cover;
    margin-right: 20px;
}

.img-pepe:hover {
    animation: pepeAnimation 1s steps(6) infinite;
}

.img-chicken-normal:hover {
    animation: chickenNormalAnimation 0.7s steps(3) infinite;
}

.img-chick:hover {
    animation: chickAnimation 0.9s steps(3) infinite;
}

.img-giant-chicken:hover {
    animation: giantChickenAnimation 1.7s steps(8) infinite;
}

.img-coin:hover {
    animation: coinAnimation 1s steps(2) infinite;
}

.img-salsa-bottle:hover {
    animation: salsaBottleAnimation 1s steps(2) infinite;
}

@keyframes pepeAnimation {
    0% { content: url('./img/pepe1.png'); }
    16.67% { content: url('./img/pepe2.png'); }
    33.33% { content: url('./img/pepe3.png'); }
    50% { content: url('./img/pepe4.png'); }
    66.67% { content: url('./img/pepe5.png'); }
    83.33% { content: url('./img/pepe6.png'); }
    100% { content: url('./img/pepe1.png'); }
}

@keyframes chickenNormalAnimation {
    0% { content: url('./img/3_enemies_chicken/chicken_normal/1_walk/1_w.png'); }
    33.33% { content: url('./img/3_enemies_chicken/chicken_normal/1_walk/2_w.png'); }
    66.66% { content: url('./img/3_enemies_chicken/chicken_normal/1_walk/3_w.png'); }
    100% { content: url('./img/3_enemies_chicken/chicken_normal/1_walk/1_w.png'); }
}

@keyframes chickAnimation {
    0% { content: url('./img/3_enemies_chicken/chicken_small/1_walk/1_w.png'); }
    33.33% { content: url('./img/3_enemies_chicken/chicken_small/1_walk/2_w.png'); }
    66.66% { content: url('./img/3_enemies_chicken/chicken_small/1_walk/3_w.png'); }
    100% { content: url('./img/3_enemies_chicken/chicken_small/1_walk/1_w.png'); }
}

@keyframes giantChickenAnimation {
    0% { content: url('./img/4_enemie_boss_chicken/3_attack/G13.png'); }
    12.5% { content: url('./img/4_enemie_boss_chicken/3_attack/G14.png'); }
    25% { content: url('./img/4_enemie_boss_chicken/3_attack/G15.png'); }
    37.5% { content: url('./img/4_enemie_boss_chicken/3_attack/G16.png'); }
    50% { content: url('./img/4_enemie_boss_chicken/3_attack/G17.png'); }
    62.5% { content: url('./img/4_enemie_boss_chicken/3_attack/G18.png'); }
    75% { content: url('./img/4_enemie_boss_chicken/3_attack/G19.png'); }
    87.5% { content: url('./img/4_enemie_boss_chicken/3_attack/G20.png'); }
    100% { content: url('./img/4_enemie_boss_chicken/3_attack/G13.png'); }
}

@keyframes coinAnimation {
    0% { content: url('./img/8_coin/coin_1.png'); }
    50% { content: url('./img/8_coin/coin_2.png'); }
    100% { content: url('./img/8_coin/coin_1.png'); }
}

@keyframes salsaBottleAnimation {
    0% { content: url('./img/6_salsa_bottle/1_salsa_bottle_on_ground.png'); }
    50% { content: url('./img/6_salsa_bottle/2_salsa_bottle_on_ground.png'); }
    100% { content: url('./img/6_salsa_bottle/1_salsa_bottle_on_ground.png'); }
}

.text-img:nth-of-type(odd) {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('./img/bg1.jpg');
    background-size: cover;
    background-position: center;
}

.text-img:nth-of-type(even) {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('./img/bg1.jpg');
    background-size: cover;
    background-position: center;
}

#muteButton {
    font-size: 45px;
    background-image: url(./img/bg2.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #F7993E;
    border: none;
    border-radius: 10px;
    display: none;
    height: 64px;
    width: 64px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: -1px 1px 5px 0px #000;
    transition: transform 0.3s ease; 
}

#muteButton img {
    height: 40px;
    width: 40px;
}

/* #muteButton .default-img {
    display: unset; 
}

#muteButton .hover-img {
    display: none; 
}

#muteButton:hover .default-img {
    display: none; 
}

#muteButton:hover .hover-img {
    display: unset; 
} */

#muteButton:hover {
    background-image: url('./img/bg4.jpg');
    color: antiquewhite; 
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px);
}

#settingButtons {
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 1;
    display: flex;
    gap: 20px;
}

#gameOverImg {
    background-image: url('img/9_intro_outro_screens/game_over/game_over.png');
    z-index: 99;
    height: 150px;
    width: 850px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: none;
}

#youWinImg {
    background-image: url('img/9_intro_outro_screens/game_over/you_win.png');
    z-index: 99;
    height: 190px;
    width: 850px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: none;
}

#rotateScreen {
    height: 100vh;
    width: 100%;
    background-image: url(./img/rotate1.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: antiquewhite;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    letter-spacing: 4px;
    text-align: center;
    font-size: 64px;
    gap: 64px;
    padding: 28px;
    box-sizing: border-box;
    display: none;
}

#rotateScreen img {
    height: 256px;
    width: 256px;
}

#mobileButtons {
    position: absolute;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 32px;
}

#mobileButtons_left {
    display: flex;
    gap: 16px;
    
}

#mobileButtons_right {
    display: flex;
    gap: 16px;
}

#mobileButtons img {
    background-color: rgba(255, 255, 255, 0.5);
    filter: drop-shadow(0px 0px 6px #ab2524); 
    border-radius: 50%;
    height: 64px;
    transition: all ease-in-out 125ms;
    position: relative;
    z-index: 99999;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 98; 
    display: none;
}

#protectionButtons {
    position: absolute;
    bottom: 1%;
    right: 3%;
    z-index: 1;
    display: flex;
    gap: 20px;
}

#imprintButton {
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-image: url(./img/bg2.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #F7993E;
    border: none;
    border-radius: 10px;
    z-index: 999;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: -1px 1px 5px 0px #000;
    transition: all 0.3s ease;
}

#privacyPolicyButton {
    height: 30px;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-image: url(./img/bg2.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #F7993E;
    border: none;
    border-radius: 10px;
    z-index: 999;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: -1px 1px 5px 0px #000;
    transition: all 0.3s ease;
}

#imprintButton:hover {
    background-image: url('./img/bg4.jpg');
    color: antiquewhite; 
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px);
}

#privacyPolicyButton:hover {
    background-image: url('./img/bg4.jpg');
    color: antiquewhite; 
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px);
}

#imprint {
    font-family: system-ui;
    position: absolute;
    height: 530px;
    width: 940px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translate(-50%, 100%); */
    z-index: 9999;
    background-image: url(./img/bg1.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: antiquewhite;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px; 
    border-radius: 10px;
    line-height: 1.5;
    cursor: pointer;
    opacity: 0; 
    visibility: hidden; 
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: none;
}

#imprint h3 {
    font-size: 58px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

}

#imprint h4 {
    font-size: 28px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

#imprint p {
    font-size: 24px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

#imprint p a {
    color: #F7993E;
}

#imprint p a:hover {
    color: #FFDD00;
}

#privacyPolicy {
    font-family: system-ui;
    position: absolute;
    height: 530px;
    width: 940px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translate(-50%, 100%); */
    z-index: 9999;
    background-image: url(./img/bg1.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: antiquewhite;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    letter-spacing: 2px; 
    border-radius: 10px;
    line-height: 1.5;
    overflow-y: scroll;
    cursor: pointer;
    opacity: 0; 
    visibility: hidden; 
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: none;
}

#privacyPolicy h3 {
    font-size: 58px;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#privacyPolicy h4 {
    font-size: 38px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

#privacyPolicy p {
    font-size: 24px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    text-align: center;
}

#privacyPolicy p a {
    color: #F7993E;
}

#privacyPolicy p a:hover {
    color: #FFDD00;
}

#privacyPolicy ul {
    font-size: 24px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media(max-width: 1023px) {
    #rotateScreen {
        display: flex;
    }
    #gameMenu {
        width: 100vw;
    }
}

@media(max-height: 375px) {
    #controlInfos h3 {
        font-size: 44px !important;
        margin-block-end: 0 !important;
    }
    #controlInfos span {
        font-size: 20px !important;
    }
    #imprint {
        justify-content: unset !important;
    }
    #gameOverImg {
        height: 90px !important;
        width: 640px !important;
    }
    #youWinImg {
        height: 135px !important;
        width: 640px !important;
    }
    .text-img span {
        font-size: 18px !important;
    }
    .about-text span:first-of-type {
        font-size: 28px !important;
    }
}

@media(max-height: 415px) {
    #controlInfos h3 {
        font-size: 44px !important;
        margin-block-end: 0 !important;
    }
    #controlInfos span {
        font-size: 20px !important;
    }
    #imprint {
        justify-content: unset !important;
    }
    #gameOverImg {
        height: 90px !important;
        width: 640px !important;
    }
    #youWinImg {
        height: 135px !important;
        width: 640px !important;
    }
    .text-img span {
        font-size: 18px !important;
    }
    .about-text span:first-of-type {
        font-size: 28px !important;
    }
}

@media(max-width: 540px) {
    #rotateScreen {
        display: flex !important;
    }
    #mobileButtons {
        display: none !important;
    }
}

@media(max-height: 345px) {
    #controlInfos {
        >h3 {
            margin-block-end: 0 !important;
        }
    }
}

@media(max-height: 600px) {
    body {
        background: unset;
    }
    #rotateScreen {
        display: none;
    }
    #canvas {
        width: 100%;
        height: 100vh;
        margin-top: 0;
        border-radius: 0;
        top: 50%;
    }
    #startButton {
        height: 48px;
        font-size: 34px;
        width: 97px;
    }
    #restartButton {
        height: 48px;
        font-size: 34px;
        width: 172px;
    }
    #muteButton {
        height: 40px;
        width: 40px;
        display: none;
        justify-content: center;
        align-items: center;
    }
    #muteButton img {
        height: 25px;
        width: 25px;
    }
    h1 {
        display: none;
    }
    #gameMenu {
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    #controlInfos {
        height: 100vh;
        width: 100vw;
        top: 50%;
        border-radius: 0;
    }
    #controlInfos h3 {
        font-size: 50px;
    }
    #controlInfos span {
        font-size: 26px;
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        padding: 2px 28px;
        box-sizing: border-box;
        width: 260px;
    }
    #controlInfos img {
        height: 34px;
    }
    #protectionButtons {
        bottom: 3%;
        right: 3%;
        gap: 10px;
    }
    #story {
        height: 100vh;
        width: 100vw;
        top: 50%;
        border-radius: 0;
    }
    .text h3 {
        font-size: 58px;
    }
    .text span {
        font-size: 24px;
    }
    .text-img {
        height: 220px;
    }
    .about-text span:first-of-type {
        font-size: 38px;
    }
    .text-img span {
        font-size: 20px;
    }
    .text-img img {
        height: 200px;
    }
    #imprint {
        height: 100vh;
        width: 100vw;
        top: 50%;
        border-radius: 0;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: scroll;
    }
    #imprint h3 {
        font-size: 56px;
    }
    #imprint h4 {
        font-size: 26px;
        text-align: center;
    }
    #imprint p {
        font-size: 22px;
    }
    #privacyPolicy {
        height: 100vh;
        width: 100vw;
        top: 50%;
        border-radius: 0;
    }
    #privacyPolicy h3 {
        font-size: 56px;
    }
    #privacyPolicy h4 {
        font-size: 36px;
    }
    #privacyPolicy p {
        font-size: 22px;
    }
    #privacyPolicy ul {
        font-size: 22px;
    }
    #gameOverImg {
        height: 120px;
        width: 800px;
    }
    #youWinImg {
        height: 160px;
        width: 800px;
    }
    #controlsButton {
        font-size: 34px;
        height: 48px;
        width: 156px;
    }
    #storyButton {
        height: 48px;
        width: 128px;
        font-size: 34px;
    }
    #startButton:hover,
    #restartButton:hover,
    #controlsButton:hover,
    #storyButton:hover,
    #imprintButton:hover,
    #privacyPolicyButton:hover,
    #muteButton:hover {
    background-image: url('./img/bg2.jpg'); 
    color: #F7993E; 
    box-shadow: -1px 1px 5px 0px #000; 
    transform: none; 
    }
    #controlsButton:hover .default-img,
    #storyButton:hover .default-img {
    display: unset; 
    }
    #controlsButton:hover .hover-img,
    #storyButton:hover .hover-img {
    display: none; 
    }
}

@media(min-width: 1024px) and (max-width: 1120px) {
    #controlsButton {
        font-size: 34px;
        height: 48px;
        width: 156px;
    }
    #storyButton {
        height: 48px;
        width: 128px;
        font-size: 34px;
    }
    /* #muteButton {
        height: 48px;
        width: 48px;
    } */
}

@media(min-height: 601px) and (max-height: 664px) {
    h1 {
        top: -6%;
    }
}

@media(min-height: 1366px) and (max-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
    #rotateScreen {
        display: flex !important;
    }
    #mobileButtons {
        display: none !important;
    }
}
 
